
/*font-family: 'Open Sans', sans-serif;
font-family: 'Teko', sans-serif*/

.hidden
{
	display: none;
}

/*basic web set up starts*/
body
{
	background-color: #bfbfbf;
}

#header
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 240px;
	background-color: navy;
}

#header img
{
	width: 85%;
	height: 85%;
	margin-top: 15px;
	margin-left: 80px;
}

#mainNav ul
{
	list-style-type: none;
	float: right;
	margin-top: 110px;
	margin-left: 100px;
	font-family: 'Teko', sans-serif;
	font-size: 30px;
}

#mainNav ul li
{
	color: #ffff;
	display: inline;
	margin-left: 60px;

}

#mainNav ul li a
{
	color: #ffff;
	text-decoration: none;
}

#mainNav ul li a:after
{
	content: " | ";
	padding-left: 60px;
}

#mainNav ul li a:hover::after
{
	color: #ffff;
	margin: 0 auto;
}

#mainNav ul li:last-child a:after
{
	display: none;
}

#mainNav ul li a:hover
{
	color: yellow;
	margin: 0 auto;
}

#container
{
	width:68%;
	height:765px;
	background-color: white;
	margin: 0 auto;
}

#footer
{
	width: 100%;
	height: 75px;
	background-color: navy;
}
/*basic web set up ends*/

/*agegate part starts*/
#ageGate
{
	max-width: 1920px;
	min-height: 1080px;
    display: flex;
    flex-direction: row;
    background: rgb(4,0,113);
	background: linear-gradient(30deg, rgba(4,0,113,1) 0%, rgba(53,53,185,1) 73%, rgba(72,61,238,1) 100%);
}

#agegateLogo
{
	width: 300px;
	margin: 0 auto;
	margin-top: 350px;
}

#agegateLogo img
{
	max-width: 400px;
	max-height: 400px;
}

#agegateForm
{
	display: flex;
	flex-direction: column;
	width: 700px;
	margin-top: 350px;
	margin-right: 300px
}

#agegateForm p
{
	font-family: 'Teko', sans-serif;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 30px;
	color: white;
}

#month, #date
{
	width: 60px;
	height: 60px;
	margin-top: 10px;
	letter-spacing: normal;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 30px;
	font-family: 'Teko', sans-serif;
}

#year
{
	width: 100px;
	height: 60px;
	margin-top: 10px;
	letter-spacing: normal;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 30px;
	font-family: 'Teko', sans-serif;
}

#agegateForm ul li a
{
	display: block;
	width: 150px;
	height: 50px;
	font-size: 30px;
	background-color: #EB242B;
	color: white;
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 35px;
	padding-top: 20px;
	transition: all .3s ease-in-out;
	font-family: 'Teko', sans-serif;
}

#agegateForm ul li a:hover
{
	background-color: #184785;
	border-radius: 10px;
}
/*agegate part ends*/

/*index part starts*/
#headerImage img
{
	width: 100%;
	height: 260px;
	object-fit: cover;
}

#mainSection1
{
	display: flex;
	flex-direction: column;
	max-width: 320px;
	max-height: 370px;
	float: left;
}

#sectionImages1
{
	display: flex;
	flex-direction: row;
	width: 295px;
	height: 210px;
}

#sectionImages1 img
{
	max-width: 140px;
}

#mainSection2
{
	display: flex;
	flex-direction: column;
	max-width: 370px;
	max-height: 225px;
	float: right;
}

#sectionImages2
{
	display: flex;
	flex-direction: row;
	width: 180px;
	height: 225px;
}

#sectionImages2 img
{
	max-width: 140px;
}

#sectionText2 ul li a
{
  display: block;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background-color: #EB242B;
  color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding-top: 10px;
  transition: all .3s ease-in-out; /*should go on normal state*/
  font-family: 'Teko', sans-serif;
  text-decoration: none;
}

#sectionText2 ul li a:hover
{
  background-color: navy;
  border-radius: 10px;
}

/*index part ends*/

/*about part starts*/
#textArea
{
	margin: 0 auto;
	width: 700px;
	height: 275px;
}

#Paragrah1
{
	display: flex;
	flex-direction: column;
	float: left;
	margin-top: 100px;
}

#Paragrah2
{
	display: flex;
	flex-direction: column;
	float:right;
	margin-top: 100px;
}

#aboutLogo
{
	max-width: 170px;
	max-height: 170px;
	margin: 0 auto;
}

#aboutLogo img
{
	width: 100%;
}
/*about part ends*/

/*Product part starts*/
#productLine1
{
	display: flex;
	flex-direction: column;
	max-width: 320px;
	float:left;
	margin-top: 120px;
	margin-left: 205px;
}

#mashupbeer1
{
	display: flex;
	flex-direction: row;
}

#mashupbeer1 img
{
	max-width: 130px;
}

#mashupbeer1 p
{
	margin-left: 30px;
}

#mashupbeer2
{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

#mashupbeer2 img
{
	max-width: 130px;
}

#mashupbeer2 p
{
	margin-left: 30px;
}

#productLine2
{
	display: flex;
	flex-direction: column;
	max-width: 320px;
	float:right;
	margin-top: 120px;
	margin-right: 390px;
}

#fosterbeer1
{
	display: flex;
	flex-direction: row;
}

#fosterbeer1 img
{
	max-width: 130px;
}

#fosterbeer1 p
{
	margin-left: 30px;
}

#fosterbeer2
{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

#fosterbeer2 img
{
	max-width: 130px;
}

#fosterbeer2 p
{
	margin-left: 30px;
}
/*product part ends*/

/*advertisement part starts*/

/*advertisemnet part ends*/

/*contact part starts*/

/*contact part ends*/




















































/*header part starts*/
/*#header
{
	display: flex;
	flex-direction: row;
	width: 320px;
	height: 80px;
	background-color: navy;
}*/

/*#header img
{
  width: 72px;
  height: 72px;
}*/

/*header part ends*/

/*body part starts*/

/*#container
{
	width:320px;
	height:950px;
	background-color:grey;
}*/

/*body part ends*/

/*footer part starts*/

/*#footer
{
	width:320px;
	height:50px;
	background-color:navy;
}*/

/*footer part ends*/

/*#productLine1
{
	display: flex;
	flex-direction: column;
	width: 50%;
}

#mashupbeer1
{
	display: flex;
	flex-direction: row;
}

#mashupbeer1 img
{
	width: 10%;
}

#mashupbeer2
{
	display: flex;
	flex-direction: row;
}

#mashupbeer2 img
{
	width: 10%;
}

#productLine2
{
	display: flex;
	flex-direction: column;
	width: 50%;
}

#fosterbeer1
{
	display: flex;
	flex-direction: row;
}

#fosterbeer1 img
{
	width: 10%;
}

#fosterbeer2
{
	display: flex;
	flex-direction: row;
}

#fosterbeer2 img
{
	width: 10%;
}*/